.welcome-card {
  text-align: center;
}

.welcome-card img {
  max-height: 40vh;
  overflow: hidden;
}

.welcome-video {
  margin-top: 25px;
  text-align: center;
  max-height: 55vh;
}

.login-form {
  margin-top: 25px;
  text-align: center;
}

.login-guest-form {
  margin-top: 25px;
  text-align: center;
}

.signup-form {
  margin-top: 25px;
  text-align: center;
}
