<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/images/home_banner.png" alt="" />
    <ion-card-header>
      <ion-card-title>Please Login or Signup for an Account</ion-card-title>
      <hr />
    </ion-card-header>
    <ion-card-content>
      <p>
        A space for kids or adults to learn how to speak hmong. If this is your
        first time using this app, please watch the video below.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="login-form">
    <ion-card-title>Existing User Login:</ion-card-title>
    <hr />
  </ion-card>
  <ion-card class="login-guest-form">
    <ion-card-title>Login as a Guest:</ion-card-title>
    <hr />
  </ion-card>
  <ion-card class="signup-form">
    <ion-card-title>Signup for an Account:</ion-card-title>
    <hr />
  </ion-card>
</ion-content>
