.animal-game-header {
  text-align: center;
  background-color: lightgreen;
}

.questions {
  text-align: center;
  background-color: rgb(224, 224, 224);
  color: green;
}

ion-col img {
  height: 150px;
  max-height: 300px;
  max-width: 150px;
  margin: auto;
}

button {
  width: 100%;
  background-color: white;
}

button:hover {
  width: 105%;
  height: 105%;
}

ion-card {
  box-shadow: 4px 4px 8px 2px black;
}
