<ion-header class="animal-game-header">
  <ion-toolbar>
    <h3>Find that Animals / Nrhiav Tus Tshiaj</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="questions"
    ><h4>
      Which animal is <u>{{ question }}</u
      >?
    </h4></ion-card
  >
  <ion-grid>
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[0])">
            <img [src]="picToView(randomAnimal[0])" alt="" /></button
        ></ion-card>
      </ion-col>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[1])">
            <img [src]="picToView(randomAnimal[1])" alt="" /></button
        ></ion-card>
      </ion-col>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[2])">
            <img [src]="picToView(randomAnimal[2])" alt="" /></button
        ></ion-card>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[3])">
            <img [src]="picToView(randomAnimal[3])" alt="" /></button
        ></ion-card>
      </ion-col>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[4])">
            <img [src]="picToView(randomAnimal[4])" alt="" /></button
        ></ion-card>
      </ion-col>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[5])">
            <img [src]="picToView(randomAnimal[5])" alt="" /></button
        ></ion-card>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[6])">
            <img [src]="picToView(randomAnimal[6])" alt="" /></button
        ></ion-card>
      </ion-col>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[7])">
            <img [src]="picToView(randomAnimal[7])" alt="" /></button
        ></ion-card>
      </ion-col>
      <ion-col align-self-center>
        <ion-card
          ><button (click)="checkAnswer(randomAnimal[8])">
            <img [src]="picToView(randomAnimal[8])" alt="" /></button
        ></ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
