.welcome-card {
  text-align: center;
}

.welcome-card img {
  max-height: 40vh;
  overflow: hidden;
}

button {
  text-align: center;
  width: 100%;
  background-color: lightgreen;
  max-height: 350px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

button:hover {
  font-size: 32px;
  background-color: darkcyan;
}
