<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/images/home_banner.png" alt="" />
    <ion-card-header>
      <ion-card-title>About HMONGGames</ion-card-title>
      <hr />
    </ion-card-header>
    <ion-card-content>
      <p>
        HMONGames was develop by a student by the name of Sony Yang. This is a
        non-profit app that was built for a school project. Nowadays, our Hmong
        children have strayed away from the culture and language. Sony's hope is
        to build a gaming platform that will help teach kids, teens, and adults
        about the hmong culture and language.
      </p>
      <br />
      <p>
        The games will allow users to learn in a fun and interactive way. The
        developer is based in Wisconsin and this is a fun project to get his
        foot in the door in the industry.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-video">
    <ion-card-title>Game Suggestions</ion-card-title>
    <hr />
    <ion-card-content>
      <p>
        If you have any game suggestion(s), please fill out the form below to
        submit your suggestion. We hope to add more games in the future and
        improve our learning database.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="suggestion-form">
    <ion-card-title>Form</ion-card-title>
    <hr />
    <ion-card-content> </ion-card-content>
  </ion-card>
</ion-content>
