<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/images/home_banner.png" alt="" />
    <ion-card-header>
      <ion-card-title>About HMONGames</ion-card-title>
      <hr />
    </ion-card-header>
    <ion-card-content>
      <p>
        HMONGames was develop by students of Maryville University. This is a
        non-profit app that was built for a school project. The team has come to
        realize that nowadays, our Hmong children and teens have strayed away
        from the culture and language. The developers aspires to build a gaming
        platform that will help teach kids, teens, and adults about the hmong
        culture and language.
      </p>
      <br />
      <p>
        The games will allow users to learn in a fun and interactive way. The
        developers are based in Wisconsin and this is a fun project to get their
        foot in the door in the industry.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-video">
    <ion-card-title>Game Suggestions</ion-card-title>
    <hr />
    <ion-card-content>
      <p>
        If you have any game suggestion(s), please fill out the form below to
        submit your suggestion. We hope to add more games in the future and
        improve our learning database.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="suggestion-form">
    <ion-card-title>Form</ion-card-title>
    <hr />
    <ion-item>
      <ion-label>Your Email: </ion-label>
      <ion-input placeholder="Please Type Your Email Here"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Subject: </ion-label>
      <ion-input placeholder="Please Type Your Subject Here"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Suggestions: </ion-label>
      <ion-textarea placeholder="Please Type Your Message Here"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card class="suggestion-button"
    ><button>
      <ion-icon name="send"></ion-icon> Send Suggestion
    </button></ion-card
  >
</ion-content>
