.welcome-card {
  text-align: center;
}

.welcome-card img {
  max-height: 40vh;
  overflow: hidden;
}

.welcome-video {
  margin-top: 25px;
  text-align: center;
  max-height: 55vh;
}

.suggestion-form {
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

button {
  width: 100%;
  background-color: lightgreen;
  height: 50px;
}

.suggestion-button {
  margin-top: 25px;
}
