<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/images/home_banner.png" alt="" />
    <ion-card-header>
      <ion-card-title>Welcome to HMONGAMES</ion-card-title>
      <hr />
    </ion-card-header>
    <ion-card-content>
      <p>
        A space for kids or adults to learn how to speak hmong. If this is your
        first time using this app, please watch the video below.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-video">
    <ion-card-title>Get Started</ion-card-title>
    <hr />
  </ion-card>
</ion-content>
